body {
    margin: 0;
    font-family: IRANSans;
}

.header {
    background-image: url(../img/header.jpg);
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .header__title {
        font-family: "MyriadArabic";
        text-align: center;
        margin-top: 30px;
    }

    .header__desc {
        font-family: "MyriadArabic";
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .menu {
        padding: 10px 0;
        border-bottom: 1px solid #e1e1e1;
        z-index: 1000;
        position: relative;
        background-color: #fff;
        box-shadow: 0px 0px 10px #222;

        img {
            max-height: 50px;
        }
    }

    .header__bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(50% - 40px);
        background-color: rgba(0, 0, 0, .5)
    }
}

.services {
    padding: 40px 0;

    .services__item {
        text-align: center;

        @media(max-width:991px) {
            margin-bottom: 15px;
        }

        img {
            margin: auto;
        }

        .services__item__title {
            font-weight: bold;
            font-size: 13px;
            color: #222;
            margin-top: 10px;
        }

        .services__item__desc {
            font-weight: 500;
            font-size: 13px;
            color: #555;
            line-height: 20px;
            margin-top: 10px;
        }
    }
}

.box {
    box-shadow: 0px 0px 10px #999;
    padding: 50px 0;
    margin: 50px 0;

    .box__title {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
        color: #0fc239 !important;
        font-size: 16px;
    }

    .box__desc {
        color: #222;
        font-size: 13px;
        line-height: 30px;
        text-align: justify;
        font-weight: 500;

        @media (max-width:767px) {
            padding: 0px 10px;
        }
    }
}

.customer {
    padding: 10px 0;
    text-align: center;

    .customer__title {
        text-align: center;
        margin-bottom: 0px;
        font-weight: 600;
        color: #0fc239 !important;
        font-size: 16px;
    }

    .customer__img {
        @media(max-width:500px) {
            margin-top: 20px;
        }
    }
}

.footer {
    background-color: #555;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-family: "MyriadArabic";

    a {
        color: #0fc239 !important
    }
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #0fc239 !important;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #0fc239 !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    padding: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: blue;
}